
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ESTLayout.cshtml";
}

<h2>EST – a – Papelaria</h2>

@section Footer
{
    <span>Morada: EST Setúbal - Estefanilha - Telefone: 265 790 000</span>
}
