
@{
    ViewData["Title"] = "Contact";
}

<table class="table">
    <tbody>
        <tr>
            <th style="text-align:left" witdh="30%">GERAL</th>
            <th style="text-align:left" witdh="30%">CONTACTOS</th>
            <th style="text-align:left" witdh="30%">&nbsp;</th>
        </tr>
        <tr>
            <td>E-mail</td>
            <td><a href="mailto:mediateca@estsetubal.ips.pt">mediateca@estsetubal.ips.pt</a></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Telefone</td>
            <td>
                <p>265 790 070 (dias &uacute;teis, das 9:00 &agrave;s 17:00)</p>

            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Fax</td>
            <td>265 790 043</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Morada</td>
            <td>
                Escola Superior de Tecnologia de Set&uacute;bal<br />
                Campus do IPS, Estefanilha<br />
                2914-508 Set&uacute;bal, Portugal
            </td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Coordenadas GPS</td>
            <td>
                Latitude: 38&deg;31&#39;18.4&quot;N<br />
                Longitude: 8&deg;50&#39;21.4&quot;W
            </td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>
